.container {
  padding: 7% 9% 2%;
}

/* nav bar */
.navbar {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  padding-right: 4%;
  padding-left: 4%;
}

.navbar-brand {
  font-size: 2rem;
}

/* fonts */
.Josefin {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.Alata {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

/* header */
#header {
  background-image: url("images\\desktop\\image-hero.jpg");
  background-size: cover;
  color: #fff;
  padding: 3% 9% 5%;
}

.header-box {
  border-style: solid;
  border-width: 2px;
  margin: 6%;
}

.heading-text {
  font-size: 4rem;
  margin: 6%;
}

@media screen and (max-width:700px) {
  #header {
    background-image: url("images\\mobile\\image-hero.jpg");
    background-size: cover;
    color: #fff;
    margin: auto;
  }

  .heading-text {
    font-size: 2.7rem;
  }

  .header-box {
    margin-top: 40%;
    margin-bottom: 60%;
  }
}

/* about */
#about {
  position: relative;
}

.about-image {
  width: 530px;
}

.about-box {
  width: 500px;
  background-color: #fff;
  padding: 5% 5% 2%;
  position: absolute;
  bottom: 0;
  right: 20%;
}

.about-text-1 {
  font-size: 2.6rem;
}
.about-text-2 {
  font-size: 0.8rem;
  color: hsl(0, 0%, 55%);
  line-height: 1.5;
}

@media screen and (max-width:700px) {
  #about {
    position: static;
    text-align: center;
    padding: 9%;
    margin: auto;
  }

  .about-image {
    width: 430px;
    position: static;
    margin: 40px auto;
  }

  .about-box {
    position: static;
    padding: 0;
    width: 380px;
    margin: 40px auto;
  }

  .about-text-1 {
    font-size: 2.6rem;
  }

  .about-text-2 {
    font-size: 1.2rem;
  }
}

/* cards */
#cards {
  padding-bottom: 5%;
}

.cards-heading-text {
    font-size: 2.5rem;
  }
.cards-heading {
  margin-bottom: 50px;
  position: relative;
}

.btn {
  padding: 9px 40px 0px;
  position: absolute;
  right: 9%;
}

.card {
  height: 400px;
  width: 230px;
}

.card-1 {
  background-image: url("images\\desktop\\image-deep-earth.jpg");
}

.card-2 {
  background-image: url("images\\desktop\\image-night-arcade.jpg");
}

.card-3 {
  background-image: url("images\\desktop\\image-soccer-team.jpg");
}

.card-4 {
  background-image: url("images\\desktop\\image-grid.jpg");
}

.card-5 {
  background-image: url("images\\desktop\\image-from-above.jpg");
}

.card-6 {
  background-image: url("images\\desktop\\image-pocket-borealis.jpg");
}

.card-7 {
  background-image: url("images\\desktop\\image-curiosity.jpg");
}

.card-8 {
  background-image: url("images\\desktop\\image-fisheye.jpg");
}

h3 {
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
  margin-top: 280px;
}

.hiding2 {
  display: none;
}

@media screen and (max-width:767px) {
  #cards {
    text-align: center;
    padding-bottom: 5%;
  }


  .card {
    width: 354px;
    height: 140px;
    margin: auto;
  }

  .card-1 {
    background-image: url("images\\mobile\\image-deep-earth.jpg");
    background-size: 354px 140px;
  }

  .card-2 {
    background-image: url("images\\mobile\\image-night-arcade.jpg");
    background-size: 354px 140px;
  }

  .card-3 {
    background-image: url("images\\mobile\\image-soccer-team.jpg");
    background-size: 354px 140px;
  }

  .card-4 {
    background-image: url("images\\mobile\\image-grid.jpg");
    background-size: 354px 140px;
  }

  .card-5 {
    background-image: url("images\\mobile\\image-from-above.jpg");
    background-size: 354px 140px;
  }

  .card-6 {
    background-image: url("images\\mobile\\image-pocket-borealis.jpg");
    background-size: 354px 140px;
  }

  .card-7 {
    background-image: url("images\\mobile\\image-curiosity.jpg");
    background-size: 354px 140px;
  }

  .card-8 {
    background-image: url("images\\mobile\\image-fisheye.jpg");
    background-size: 354px 140px;
  }

  h3 {
    font-size: 1.9rem;
    margin-top: 50px;
    padding-right: 160px;
    text-align: left;
  }

  .hiding1 {
    display: none;
  }

  .hiding2 {
    display: block;
  }

  .btn {
    padding: 9px 40px 0px;
    position: static;
    margin: 40px auto;
  }
}

/* footer */
#footer {
  padding: 1% 9% 1%;
  background-color: #000;
}

.footer-brand {
  position: absolute;
  top: 0;
}

.footer-navbar {
  position: absolute;
  top: 70px;
  bottom: 0;
}

.icons {
  text-align: right;
}

.fab {
  color: #fff;
  margin: 2% 1%;
}

.copy-rights {
  font-size: 1rem;
}

.attribution {
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width:700px) {
  #footer {
    text-align: center;
  }

  .footer-brand {
    position: static;
    display: block;
  }

  .footer-navbar {
    position: static;
    display: block;
  }

  .icons {
    text-align: center;
    margin-top: 30px;
  }

  .fab {
    margin-bottom: 30px;
  }

  .attribution {
    display: none;
  }
}
